<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.50" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="20.3.0.50" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="20.3.0.50" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>